<a href="https://colab.research.google.com/github/2303A51717/2303A51717_b11_pds/blob/main/ass--4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df = pd.read_csv("sales_data.csv")

print("Original Data:\n", df, "\n")
df_cleaned = df.dropna(subset=["Product", "Quantity"])
mean_price = df_cleaned["Price"].mean()
df_cleaned["Price"].fillna(mean_price, inplace=True)
df_cleaned["Total"] = df_cleaned["Quantity"] * df_cleaned["Price"]
large_transactions = df_cleaned[df_cleaned["Total"] > 1000]

print("Cleaned Data:\n", df_cleaned, "\n")
print("Transactions with Total > 1000:\n", large_transactions)

Original Data:
    Invoice_No Customer_Name     Product  Quantity  Price   Total
0        1001    John Smith      Laptop       2.0  800.0  1600.0
1        1002     Sarah Lee  Smartphone       5.0  600.0  3000.0
2        1003  Michael Chen      Tablet       3.0    NaN     NaN
3        1004   Emily Davis         NaN       4.0  100.0   400.0
4        1005   David Brown     Monitor       NaN  200.0     NaN
5        1006  Sophia Patel  Headphones      10.0   50.0   500.0
6        1007   Liam Wilson      Laptop       1.0    NaN     NaN

Cleaned Data:
    Invoice_No Customer_Name     Product  Quantity       Price        Total
0        1001    John Smith      Laptop       2.0  800.000000  1600.000000
1        1002     Sarah Lee  Smartphone       5.0  600.000000  3000.000000
2        1003  Michael Chen      Tablet       3.0  483.333333  1450.000000
5        1006  Sophia Patel  Headphones      10.0   50.000000   500.000000
6        1007   Liam Wilson      Laptop       1.0  483.333333   483.333333

Transactions with Total > 1000:
    Invoice_No Customer_Name     Product  Quantity       Price   Total
0        1001    John Smith      Laptop       2.0  800.000000  1600.0
1        1002     Sarah Lee  Smartphone       5.0  600.000000  3000.0
2        1003  Michael Chen      Tablet       3.0  483.333333  1450.0

/tmp/ipython-input-1838971577.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned["Price"].fillna(mean_price, inplace=True)
/tmp/ipython-input-1838971577.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Price"].fillna(mean_price, inplace=True)
/tmp/ipython-input-1838971577.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Total"] = df_cleaned["Quantity"] * df_cleaned["Price"]

In [4]:
import pandas as pd

data = {
    "Applicant_ID": [101, 102, 103, 104, 105, 106],
    "Name": ["Charmi", "Roshi", "Sathwika", "Lasya", "Vyshnavi", "Sowmya"],
    "Degree": ["B.Tech", "MCA", "B.Sc", "M.Tech", "BCA", "B.Tech"],
    "Experience_Years": [3, 4, 5, 1, None, None],
    "Python_Score": [85, 86, None, 92, 88, 95],
    "Status": ["Pending", "Pending", "Pending", "Pending", "Pending", "Pending"]
}

df = pd.DataFrame(data)
df.to_csv("applicants.csv", index=False)
print("applicants.csv file created successfully!")
print(df)

df = pd.read_csv("applicants.csv")
df = df.dropna(subset=["Python_Score"])
df["Experience_Years"] = df["Experience_Years"].fillna(0)
filtered_df = df[(df["Python_Score"] > 80) & (df["Experience_Years"] > 2)]
filtered_df.to_csv("filtered_applicants.csv", index=False)
print("Filtered Applicants:")
print(filtered_df)

applicants.csv file created successfully!
   Applicant_ID      Name  Degree  Experience_Years  Python_Score   Status
0           101    Charmi  B.Tech               3.0          85.0  Pending
1           102     Roshi     MCA               4.0          86.0  Pending
2           103  Sathwika    B.Sc               5.0           NaN  Pending
3           104     Lasya  M.Tech               1.0          92.0  Pending
4           105  Vyshnavi     BCA               NaN          88.0  Pending
5           106    Sowmya  B.Tech               NaN          95.0  Pending
Filtered Applicants:
   Applicant_ID    Name  Degree  Experience_Years  Python_Score   Status
0           101  Charmi  B.Tech               3.0          85.0  Pending
1           102   Roshi     MCA               4.0          86.0  Pending