<a href="https://colab.research.google.com/github/2303A51717/2303A51717_b11_pds/blob/main/ass_6pds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question-1

In [1]:
import pandas as pd
sales_data = pd.DataFrame({
    "Transaction_ID": [101, 102, 103, 104, 105, 103, 104],
    "Product": ["Laptop", "Phone", "Tablet", "Headphones", "Monitor", "Tablet", "Headphones"],
    "Amount": [80000, 20000, 15000, 5000, 12000, 15000, 5000]
})

print("Original Dataset:")
print(sales_data)
duplicate_count = sales_data.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_count}")
cleaned_sales = sales_data.drop_duplicates()
cleaned_count = cleaned_sales.duplicated().sum()
print(f"Number of duplicate rows after cleaning: {cleaned_count}")

print("\nCleaned Dataset:")
print(cleaned_sales)

Original Dataset:
   Transaction_ID     Product  Amount
0             101      Laptop   80000
1             102       Phone   20000
2             103      Tablet   15000
3             104  Headphones    5000
4             105     Monitor   12000
5             103      Tablet   15000
6             104  Headphones    5000

Number of duplicate rows: 2
Number of duplicate rows after cleaning: 0

Cleaned Dataset:
   Transaction_ID     Product  Amount
0             101      Laptop   80000
1             102       Phone   20000
2             103      Tablet   15000
3             104  Headphones    5000
4             105     Monitor   12000

question-2

In [3]:
import pandas as pd
employee_data = pd.DataFrame({
    "Employee_ID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Salary": ["50000", "60000", "55000", "65000"],
    "Joining_Date": ["2023-01-15", "2022-11-20", "2023-05-10", "2021-12-01"]
})

print("Original Data Types:")
print(employee_data.dtypes)

employee_data["Salary"] = pd.to_numeric(employee_data["Salary"])

employee_data["Joining_Date"] = pd.to_datetime(employee_data["Joining_Date"])

print("\nCorrected Data Types:")
print(employee_data.dtypes)

print("\nCleaned Employee Dataset:")
print(employee_data)

Original Data Types:
Employee_ID      int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Corrected Data Types:
Employee_ID              int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Cleaned Employee Dataset:
   Employee_ID     Name  Salary Joining_Date
0            1    Alice   50000   2023-01-15
1            2      Bob   60000   2022-11-20
2            3  Charlie   55000   2023-05-10
3            4    Diana   65000   2021-12-01